<!-- Onas Section -->
    <section id="onas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">O nas</h2>
                    <h3 class="section-subheading text-muted">Etapy wzrostu: jak krok po kroku budowaliśmy automatyzacj.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">                             
                                    <h4>2007</h4>
                                    <h4 class="subheading">System Zarządzania Procesami Technologicznym</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Oferujemy rozwiązania w zakresie programowania maszyn i urządzeń, zwiększając efektywność, niezawodność oraz wydajność produkcji</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">System Zarządzania Instalacjami Klimatyzacyjnymi (HVAC)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Oferujemy innowacyjne rozwiązania do efektywnego zarządzania klimatem w budynkach, w tym inteligentne systemy kontroli i monitorowania. Naszym celem jest zwiększenie efektywności energetycznej, poprawa komfortu i redukcja kosztów eksploatacyjnych.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Systemy sterowania oświetleniem</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Wdrażamy inteligentne systemy, które optymalizują oświetlenie, zwiększają efektywność energetyczną i tworzą komfortowe warunki. Nasze technologie pomagają zredukować koszty i poprawić kontrolę nad oświetleniem.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">System zarządzania BMS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Oferujemy nowoczesne rozwiązania do integracji wszystkich systemów inżynieryjnych. Nasze technologie zapewniają wysoką efektywność energetyczną i znaczną oszczędność kosztów eksploatacyjnych. Skupiamy się na wdrażaniu zaawansowanych i przyszłościowych technologii, które nie tylko optymalizują zarządzanie budynkami, ale także zapewniają ich adaptację do przyszłych wymagań i wyzwań, tworząc inteligentne i zrównoważone budynki</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Idziemy
                                    <br>w stronę
                                    <br>przyszłości</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>